script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
script(src="/js/mootools-core.js")
style.
  #container {
  padding: 20px
  }
  #container > div {

  width: 45%;
  float: left;
  }
div#container
script(src='/js/StatGrids.js')
script.
  new StatGrids()
