.pNums {
float: right;
}
.pNums b, .pNums a {
display: inline-block;
padding: 0.38rem 0.75rem;
}
.pNums b {
color: #fff;
cursor: default;
background-color: #20a8d8;
border: 1px solid #20a8d8;
}
.pNums a {
color: #20a8d8;
background-color: #fff;
border: 1px solid #ddd;
margin-left: -1px;
}
